@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #FFFF;
  color: #fff;
}
